@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

html {
    scroll-behavior: smooth;

    /* Pattern do background */
    background-color: #1a1a1a;
    opacity: 0.8;
    background-image: radial-gradient(oklch(57.7% 0.245 27.325) 0.5px, transparent 0.5px), radial-gradient(oklch(57.7% 0.245 27.325) 0.5px, oklch(21% 0.034 264.665) 0.5px);
    background-size: 30px 30px;
    background-position: 0 0, 60px 60px;
}

body {
    font-family: "Inter", sans-serif;
}

@theme {
    --font-poppins: "Poppins", sans-serif;
    --font-oswald: "Oswald", sans-serif;
    --font-sora: "Sora", sans-serif;
}
