@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: "Inter", sans-serif;
}

@theme {
    --font-poppins: "Poppins", sans-serif;
    --font-oswald: "Oswald", sans-serif;
    --font-sora: "Sora", sans-serif;
}
